html {
    font-family: 'Jua', sans-serif;
    font-size: 14px;
}

body {
    background-color: #88B04B;
    overflow-x: hidden;
}

nav img {
    width: 50px;
    padding: 15px;
}

p,
form input,
form button {
    font-family: 'Do Hyeon', sans-serif;
}

.container {
    height: 100%;
}

.space {
    display: flex;
    justify-content: center;
}

.space img {
    width: 30vw;
    margin-top: -70px;
    z-index: 2;
}

.result {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.contents_box {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.contents_box h2 {
    font-weight: 400;
}

.content {
    background-image: url('../img/ufo.png');
    background-size: cover;
    margin: 10px auto;
    width: 150px;
    height: 150px;
    cursor: pointer;
}
.start {
    background-image: url('../img/rocket.png');
    background-size: cover;
    margin: 10px auto;
    width: 150px;
    height: 150px;
}

.rocket {
    margin: 10px auto;
    width: 150px;
    height: 150px;
    display: none;
    z-index: 1;
}

.fly {
    display: block;
}

@media (max-width: 768px) {
    .space img {
        width: 60vw;
        height: 40vh;
    }

}